/Strings/nbproject/private/
/Strings/build/
/Strings/dist/
/Assign5_47/nbproject/private/
/Assign5_48/nbproject/private/
/Assign5_48/build/
/Assign5_49/nbproject/private/
/Assign5_47/build/
/Assign6_7/nbproject/private/
/Assign_Opening_Problem/nbproject/private/
/Assign_Opening_Problem/build/
/Assign6_7/build/
/Assign6_3/nbproject/private/
/Assign6/nbproject/private/
/Assign4_47/nbproject/private/
/Assign4_47/build/
/Assign6_2/nbproject/private/
/Assign6_2/build/
/Assign6_2/dist/
/Assign6_3/build/
/Assign6_3/dist/
/Test_Practice_1/nbproject/private/
/Test_Practice_1/build/
/Test_Practice_2/nbproject/private/
/Test_Practice_2/build/
/Test_Practice_2/dist/
/BookstireCredit/nbproject/private/
/BookstoreCredit/nbproject/private/
/BookstoreCredit/build/